@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin:0 auto;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  background-color: #0f0f1a;
  color: #e3c78a;
  min-width: 600px;
  max-width: 1280px;
  display: grid;
  background-image: url('https://www.transparenttextures.com/patterns/stone.png');
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1b24;
  padding: 5px;
  border-bottom: 2px solid #e3c78a;
}

.logo {
  height: 70px;
  border-radius: 30px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-radius: 10px;
}

h1 {
  color: #ffd700;
}

h2 {
  font-size: large;
  color: #c084fc;
}

.menu-button {
  background: #2d2a34;
  font-size: 28px;
  color: #e3c78a;
  box-shadow: 0 0 10px #e3c78a;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.spot-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.spot-card {
  width: 250px;
  height: 250px;
  background-color: #1b1425;
  border: 2px solid #8257e5;
  color: #e3c78a;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 0 10px #7c3aed;
  transition: transform 0.2s ease;
}

.spot-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #d946ef;
}

.spot-title {
  color: #ffd700;
}

.stars {
  color: #c084fc;
  text-align: end;
}

button {
  background-color: #7c3aed;
  color: #fff7ed;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 5px #c084fc;
}

button:hover {
  background-color: #a855f7;
  box-shadow: 0 0 10px #e879f9;
}

button:disabled {
  background-color: #444;
  cursor: not-allowed;
}

.review-modal-container {
  background-color: #2e1a47;
  padding: 20px;
  border-radius: 8px;
  color: #e3c78a;
}

.delete-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#root {
  width: 100%;
}

@media (max-width: 1024px) {
  .spot-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .spot-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .spot-list {
    display: block;
  }
  .spot-card {
    justify-content: center;
  }
}

.butt-wide {
  width: 250px;
}
